<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% block body %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/resources.css" />
    <!-- Browser tab icon -->
    <link rel="icon" type="image/png/" sizes="32X39" href="/static/img/tab.png">


    <title>Resources|COVID-19</title>
  </head>
  <body onload="myfunction()">
    <!-- Pre-loader -->
    <div id="loading">
     
    </div>

<!-- navbar design start here-->

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home"><img src="/static/img/tab2.png" height="50" width="50"> COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Resources
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/resources">Plasma/Oxygen/Bed</a>
            
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/contact_info">Government-Info</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Precaution
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/gov">Gov/WHO</a>
                    <a class="dropdown-item" href="/vaccine">Vaccine</a>
                  <a class="dropdown-item" href="/plasma">Plasma</a>
                </div>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact-us</a>
              </li>
          </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mx-2">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown1" role="button" data-toggle="dropdown"> Welcome! {{request.user}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>

        </div>
      </li>
      </ul>
      </div>
          {% else %}
          <div class="mx-2">
         <button type=" button" class="btn btn btn-warning" data-toggle="modal" data-target="#loginModal">Login</button>
         <button type=" button" class="btn btn-light" data-toggle="modal" data-target="#signupModal">SignUp</button>
        </div>
            {% endif %}
        </div>
      </nav>

 <!-- navbar design end here-->


    <!--    alert message start-->
  {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Hey {{user}}!:</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}

<!-- alert message end-->



<div class="card card-body p-3 mb-2 text-center">
	<h2>Covid-Resources Data   </h2>
<form method="GET" action="/search" class="form-inline my-2 my-lg-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 50vw" name="query" id="query" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

<!--    search function start here  -->
<!--    <br>-->
<!--<div class="row">-->
<!--	<div class="col">-->
<!--		<div class="card card-body">-->

<!--			<form method="get">-->
<!--				{{myFilter.form}}-->

<!--		    <button class="btn btn-primary" type="submit">Search</button>-->
<!--		  </form>-->

<!--		</div>-->
<!--	</div>-->

<!--</div>-->
<!--<br>-->

    <!--    search function end here  -->



<!--    data updation option enable for authentic user-->
   {% if user.is_authenticated %}
<div class=" mx-2 text-right">
         <button type=" button" class="btn btn btn-warning" data-toggle="modal" data-target="#update">Update</button>
</div>
    {% endif %}
</div>
   <!--    data updation option enable for authentic user end-->

    <!--    Updated covid Resources table design-->

    <table class="table table-hover">
  <thead class="thead-dark ">
    <tr>
        <th>Sr.No</th>
        <th>Hospital-Name</th>
		<th>Available-Items</th>
		<th>Count</th>
        <th>Address</th>
        <th>Contact</th>
    </tr>
  </thead>
  <tbody>
                        {% for i in resources %}
							<tr>
                                <td>{{i.sno}}</td>
								<td>{{i.Hname}}</td>
								<td>{{i.category}}</td>
								<td>{{i.available}}</td>
                                <td>{{i.add}}</td>
                                <td>{{i.contact}}</td>
							</tr>
						{% endfor %}

  </tbody>
</table>
<!--    Updated covid Resources table design end-->


<!-- Footer design -->
 
<footer class="container-fluid shadow-lg p-3 mb-10 bg-dark">
  <p class="float-right">
   <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg></a></p>
    <!-- <a href="#">Back to top</a></p> -->
  <p class="text-center">Copyright &copy; 2021 WebWorm Technical Team. All Right Reserved.</p>
</footer>

<!-- Footer design end-->


    <!-- Pre loader script -->
    <script>
        var preloader = document.getElementById('loading');
        function myfunction(){
            preloader.style.display = 'none';
        }
      </script>

    <!-- Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
   
  </body>
</html>

{% endblock body %}